* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Electrolize", sans-serif;
}

:root {
    --accent-1: #ff455e;
    --accent-2: #ff7e4d;
    --accent-3: #51bbdf;
}

body {
    background-color: black;
    height: 100vh;
    padding: 10vw;
}

.cover-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://images.unsplash.com/photo-1501141178950-e7fa06e4adf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    opacity: 0.1;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: min(50%, 700px);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: var(--accent-1);
    text-align: center;
    line-height: 200%;
}

h1 {
    font-family: "Press Start 2P", sans-serif;
    color: var(--accent-1); 
    margin-bottom: 30px;
    line-height: 170%;
}

.bobbing{
    animation: bob alternate 2s infinite;
    -webkit-animation: bob alternate 2s infinite;
}

@keyframes bob {
    0% {
        transform: translate(0%, -10%);
        -webkit-transform: translate(0%, -10%);
        -moz-transform: translate(0%, -10%);
        -ms-transform: translate(0%, -10%);
        -o-transform: translate(0%, -10%);
}
    100% {
        transform: translate(0%, 10%);
        -webkit-transform: translate(0%, 10%);
        -moz-transform: translate(0%, 10%);
        -ms-transform: translate(0%, 10%);
        -o-transform: translate(0%, 10%);
}
}

.content > p{
    font-size: 22px;
}

.options{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.options > button{
    color: white;
    padding: 10px 30px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}



.options > button:nth-child(2n + 1){
  background-color: var(--accent-3);
}
.options > button:nth-child(2n){
  background-color: var(--accent-2);
}

